html {
    font-size: 15px;
    /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif;
    /* this should be the rest of the output you got from Google fonts */
    background-color: #31363b;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #bdc3c7;
}

h2 {
    font-size: 30px;
    color: #bdc3c7;
    margin-bottom: 10px;
}

p,
li {
    font-size: 20px;
    color: white;
}

body {
    width: 1300px;
    margin: 0 auto;
    background-color: #31363b;
    padding: 0 20px 20px 20px;
    border: 2px solid #54a3d8;
}

#image {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

a {
    color: #2980b9;
    font-size: 20px;
}

.input {
    background: #31363b;
    color: #eff0f1;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #232629 !important;
    color: #eff0f1 !important;
    border-spacing: 0;
    box-sizing: border-box;
}
th {
    vertical-align: bottom;
    border-bottom: 2px solid #eff0f1;
    padding: .75rem;
    border-top: 1px solid #eff0f1;
    text-align: inherit;
}
td {
    color: #eff0f1 !important;
    background-color: #31363b !important;
    background: #31363b !important;
    padding: .75rem;
    border-top: 1px solid #eff0f1;
    text-align: inherit;
    border-bottom: 2px solid #eff0f1;
}

.grade {
    font-weight: bold;
}
